
@{
    ViewData["Title"] = "CheckAccountAction";
}

<h1>CheckAccountAction</h1>

<div class="mb-3">
    <label class="form-label">姓名：</label>
    <div class="input-group">
        <input type="text" class="form-control">
    </div>
</div>

<div class="mb-3">
    <label class="form-label">電子郵件：</label>
    <div class="input-group">
        <input type="text" class="form-control">
    </div>
</div>

<div class="mb-3">
    <label class="form-label">年紀：</label>
    <div class="input-group">
        <input type="text" class="form-control">
    </div>
</div>

